<div ng-controller="ListController">
    <header>
        <div class="container" ng-controller="CategoryController">
            <div class="filtro-group">
                <button class="botao-filtro">Selecione uma categoria<i class="icon-angle-down"></i></button>
                <ul>  
                <li  ng-repeat="category in categories" ng-click="sendCategory(category)">{{category.name}}</li>
                </ul>            
            </div>
            

        </div>    
    </header>
    
    <div class="conteudo-lista">
        <div class="container">
          <div class="row" ng-controller="ItemController">
            <div class="col"  ng-repeat="item in items | filter:search | orderBy:sort">
                <a ng-click="viewDetail(item)" class="card">	
                    <img ng-src="{{item.image_thumb}}" class="img-responsive"/>
                    <h2 ng-click="viewDetail(item)">{{item.category}}</h2>
                    <p>{{item.txt_resume}}</p>
                    <div class="mais">{{item.txt_button}}</div>
                </a>
            </div>
          </div>
        </div>    
    </div>
    
</div>
